html{
    font-size: 8px;
    

}

h1{
    font-family: 'billabong';
    text-align: center;
    font-size: 13rem;
    font-weight: 100;
    margin: 2rem 0;

}



.photo{
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}
p{
    font-size: 14px;
}

.btn {
    margin: 20px auto;
    display: table;
    padding: 40px;
    
}

